html,
body {
  background-color: #f1f2f3;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.hpe-icon {
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}

.pointerN {
  cursor: default;
}

.activeElement {
  background-color: #ffffff;
}

.inline {
  display: inline-block;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.toolbar-items-container {
  position: inherit;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.flex-right-side {
  display: flex;
  margin-left: auto;
  overflow: hidden;
}
